<header id="header" class="header bg-dracula-primary border-b-4 border-dracula-four flex flex-col md:flex-row md:justify-between items-center p-4 md:p-6">

	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}

</header>
