.top {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "title"
    "interests"
    "links";
  grid-template-rows: repeat(3, 7rem);
}

.title {
  grid-area: title;
}

.interests {
  grid-area: interests;
}

.links {
  grid-area: links;
}

.hero {
  grid-area: hero;
  min-height: 300px;
  // background: url(/images/main/gee_me_094.svg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero img {
  //   flex: 1 1;
  max-height: 300px;
}

.top-left {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.menu {
  justify-items: stretch;
}

.top-left h1 {
  text-align: center;
  margin: 0;
}

.top-left ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.top-left a {
  background: var(--indigo);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);  
  // font-size: 20px;
}

// .social {
//   display : inline-flex;
//   flex-wrap: wrap;
//   gap: 12px;
// }

[class^="link"]:not(.link-menu) {
  width: 100%;
  min-height: 3em;
  background-color: var(--indigo);
  color: #fff;
  box-shadow: 0.18em 0.18em var(--green);
}

[class^="link"]:not(.link-menu),
.top-left .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

[class^="link"]:not(.link-menu) svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

[class^="link"]:not(.link-menu):hover,
[class^="link"]:not(.link-menu):focus,
.top-left .container > a:hover,
.top-left .container > a:focus {  
  transform: translate(-0.15em, -0.15em);  
  box-shadow: 0.3em 0.3em var(--green);
}
[class^="link"]:not(.link-menu):focus,
.top-left .container > a:focus {
  outline-color: transparent;
  outline-style: solid;
}

.features {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
}

.feature {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.dev-icons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;  
}

.feature .icon {
  font-size: 50px;
}
.feature p {
  color: --var(--purple);
  font-size: 0.25em;
  margin-top: 1.25em
}

.feature svg {
  width: 1em;
  height: 1em;  
  fill: currentColor;
}

.skills {  
  list-style: none;
  list-style-type: none;
}


.skills li {  
  display:flex;
  gap: 5px
}

.skills li:before { content: '⚡'; margin-left: -20px; margin-right: 10px; } 

@media (max-width: 700px) {
  .top {
    grid-template-areas:
      "title"
      "interests"
      "links";
  }
  /* About */
  .about {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas:
      "title"
      "interests"      
      "links";
  }
}
