.changing-keywords {
  vertical-align: top;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 85%;
}
.text-hidden {
  position: absolute;
  font-size: 4rem;
  border: solid 5px var(--indigo);
  top: 35px;
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: 3s slideme 4s infinite;
}

@for $i from 1 through 10 {
  .text-hidden:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.9}s;
  }
}

@keyframes slideme {
  0% {
    top: 20px;
    opacity: 0;
  }
  5% {
    top: 0px;
    opacity: 1;
  }
  10% {
    top: 0;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.1;
    top: 0;
  }
  30% {
    opacity: 0;
    top: 20px;
  }
}

@media (max-width: 700px) {
  .changing-keywords {  
    width: 70%;  
    height: 70%;
  }

  .text-hidden {   
    height: 70%;  
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .changing-keywords { 
    width: 85%;   
    height: 50%;
  }

  .text-hidden {   
    height: 80%;  
    font-size: 24px;
  }
}
